css video
*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;;
}

body{
    background-color: #333;
}
 
.banner1 {
    margin-top:  50px;
    background-color: #222;
    width: 100%;
    display:flex;                              
    align-items: center;                      
    justify-content:center;  
    color: white;    
    height: 70px;    
    font-size: medium;
}
 
.banner {
 background-color: #222;
    width: 100%;
    display:flex;                              
    align-items: center;                      
    justify-content:center;  
    color: white;    
    height: 150px;    
    font-size: xx-large;
    
}
 
.box {
    height: 150px;
    border: 3px solid black;    
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}
 
.titulo{
        padding-top: 25px;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        font-style: bold;
    
}
 
.box1 {
    height: 350px;
    border: 3px solid black;    
    border-radius: 20px;
    margin-bottom: 20px;
    width: 98%;
    display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-left: 25px;
 
}
.video-item {
    width: 30%;
    height: auto;
    align-items: center;
    justify-content: center;
    }
   
   
    .videobox {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    }
 
    .video {
        width: 32%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 60px;
        margin-bottom: 20px;
        height: auto;
        border: 3px solid black;    
        border-radius: 20px;
        padding-top: 25px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: white;
    }
 
 
    .textodescri {
        padding-right: 35px;
        text-align: center;
        color: black;
    }
 
    .sombra{
        box-shadow: black 0px 0px 10px;
 
    }
    .box2{
        margin: 100px;
        
    }

    .container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}   
 
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

